.row{
    display: flex;
    justify-content: center;
    width: 800px;
    text-align: center;
    gap: 5px;
    margin-bottom: 5px;
}
.col{
    width: 150px;
    height: 150px;
    background-color: palevioletred;
    flex: 1;
}
.col-2{
    width: 150px;
    height: 150px;
    background-color: palevioletred;;
    flex: 2;
}
.col-3{
    width: 150px;
    height: 150px;
    background-color: palevioletred;;
    flex: 3;
}